img.normal{
    float: left;
    width: 300px;
    height: 300px;
}

img.alta{
    float: left;
    height: 420px;
    width: 300px;
}

h1{
    border-bottom-style: inset;
    text-align: center;
}

pre{
    font-size: 1.2em;
}

form{
    text-align: center;
}

h3{
    text-align: center;
}

